IFACE=$(ip route show default | awk '/default/ {print $5}' | head -1)
MAC=$(cat /sys/class/net/"$IFACE"/address | tr -d ':' | tr '[:lower:]' '[:upper:]')
sudo sed -i "s/^hub_id=HUB-0\+$/hub_id=HUB-${MAC}/" /etc/smarthome/hub.conf